.card__price {
  display: flex;
  flex-direction: column;
  width: 135px;
  font-family: 'Montserrat';
  font-size: 2.3em;
  line-height: 1.2;
  font-weight: normal;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
  .card__price {
    align-items: center;
    margin-top: 7px;
  }
}