@import url("../vendor/normalize.css");
@import url("../blocks/page/page.css");
@import url("../fonts/Arvo/arvo.css");
@import url("../fonts/Montserrat/montserrat.css");
@import url("../fonts/Open-sans/opensans.css");
@import url("../blocks/header/header.css");
@import url("../blocks/cards/cards.css");
@import url("../blocks/card/card.css");
@import url('../blocks/anime/rotation.css');
@import url("../blocks/footer/footer.css");

:root {
    --card-bgcolor: #D2DDE4;
    --tip-color: #9FA3A7;
    --title-color: #212121;
    --price-color: #292929;
}